
<div class="container">
<!-- 	<div class="row"> -->
		<!-- 		<div class="col-lg-6 col-md-12 col-sm-12"> -->
		<!-- 			<img class="img-responsive img-home-portfolio" -->
		<!-- 				src="file.htm?filename=creedo_logo_square_margin.png"> -->
		<!-- 		</div> -->
		<div class="col-md-12 text-justify">
			<p>Creedo is an open source Java server application for data
				mining researchers who want to showcase and test their ideas. The
				two main features of Creedo are:</p>
			<ol>
				<li>Creedo allows to define interactive data analytics
					dashboards, in which novel data mining algorithm can easily be
					embedded if they follow the framework of the realKD library. Users
					can access these dashboards through any of the standard web
					browsers. Hence, Creedo provides an effective way of defining
					demonstrators for new ideas.</li>
				<li>Furthermore, Creedo allows the design and execution of
					online user studies based on these analytics dashboards. The
					application automatically assigns tasks to study participants and
					evaluates analytics dashboards in terms of how well they support
					users in solving their task. This enables a low-cost extrinsic
					evaluation of novel data mining contributions with real users.</li>
			</ol>
			<p>The development of Creedo was supported by the German Science
				Foundation (DFG) under grant number 'GA 1615/2-1'.</p>
<!-- 		</div> -->
	</div>
</div>
