
<div class="container">
	<div class="row">
		<h4>Introduction</h4>
		<p>
		In this tutorial, subgroup discovery (SGD) is applied to help discover descriptors that relate geometrical and physicochemical properties 
		of neutral gas-phase gold clusters (of sizes 5 to 14 atoms). SGD is a data-mining technique that can assist in the identification and 
		description of local patterns in complex (materials-science) data. 
		</p>
		
		<p>
		SGD requires the definition of a few components:
		</p>
		
		<ul>
			<li><b>A target property</b> according to which subgroups must show special characteristics. 
			The default choice upon clicking the “Mine” button is the HOMO-LUMO energy gap of the gold clusters.</li>
			
			<li><b>A utility function</b> that quantifies the “interestingness” (or usefulness) of the target property distribution within the subgroup.
			The default choice is the gain in standard deviation (called std. deviation gain), 
			i.e., the algorithm will search for subgroups that have a lower standard deviation than the global population. </li>
			
			<li><b>A set of descriptive features</b> from which selectors of groups are constructed.
			The descriptive features consist of geometrical and physicochemical properties of the gas-phase gold clusters, 
			e.g., electron affinity, ionization potential, and the mean atom bond coordination number.
			The list of available features can be seen by clicking "Datatable" (top right of the window).
			Definitions are provided upon mouse scroll over of the descriptive feature names.</li>
		</ul>

		<p>
		SGD will mine the data for subgroups that optimize the utility functions while at the same time contain as many data points (materials or materials configurations) 
		as possible. The subgroups are described by Boolean selectors that consist of one or more Boolean statements of the descriptive features, 
		e.g., "The HOMO-LUMO energy gap of neutral gold clusters with an odd number of atoms is small". The list of Boolean statements for each descriptive feature can be seen by clicking 
		"Propositions" (top right of the window). In this tutorial, all features referring to a length (energy) are expressed in angstroms (electronvolts).
		</p>

		<!-- A more detailed introduction to SGD can be found here [wiki page to be done] -->
	</div>
	<div class="row">
		<h4>Step-by-step Instructions</h4>
		<div class="col-md-6 col-lg-8">
			<p>
				In order to set parameters for the calculations and run SGD, <b>click
					"Mine"</b>. In the popup input table (Figure 1), we have provided a set of default choices that lead to an interesting discovery.  One can select:
			</p>
			<ul>
				<li><b>The target property (target variable):</b> The tutorial offers the possibility to choose between five different target variables; 
				(1) HOMO-LUMO energy gap, (2) Planarity, (3) van der Waals energy (&Delta;E<sub>vdW</sub>), (4) normalized radius of gyration and van der Waals energy 
				{Rg/Rg<sub>ref</sub>, &Delta;E<sub>vdW</sub>}, and (5) chemical hardness and electronic energy {&Delta;hardness, &Delta;E}. Note that this selection determines the utility function, 
				which can be the standard deviation gain, the Pearson correlation gain, or the Shannon entropy gain.
				These utility functions and target variables reproduce the patterns shown in Figures 4-7 of <a href="https://arxiv.org/abs/1612.04307" target="_blank">B. R. Goldsmith, M. Boley, J. Vreeken, M. Scheffler, and L. M. Ghirginhelli, 2016 (arxiv preprint).</a>
				For more details about the target properties and why they are interesting, refer to the above reference and the refences contained within.</li>
				
				<li><b>The features to be excluded with the feature filter
						(attribute filter):</b> Each feature selected in the drop-down menu will be excluded from the algorithm search. 
						It is important to deselect strongly correlated features or features which do not make sense for the question being asked.</li>
						
				<li><b>The number of seeds:</b> That is, how many times the random Monte Carlo search is re-initialized from a new starting point. 
				The higher this number, the higher the probability to find all the relevant subgroups; however, the computational time scales linearly with the number of seeds. </li>
			</ul>
		</div>
		<div class="col-md-6 col-lg-4">
			<figure>
				<img src="file.htm?filename=image_help_tutorial_au_controls.png"
					width="526" height="357">
				<figcaption><b>Figure 1.</b> Controls of subgroup discovery. </figcaption>
			</figure>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-lg-8">
			<p>
				Run the algorithm by <b>clicking "Execute"</b> or change settings before (check parameter tooltips to learn more about individual options). 
				After clicking "Execute", the results are summarized in the right column.
				Each tab describes a subgroup found by the SGD algorithm. See Figure 2 for the top subgroup found using the default settings.
			</p>
			<p>
		One can <b>visualize the materials covered by a subgroup</b> in the scatter plot by clicking the "filter data view" icon 
		(crosshair-icon in item-group at top right of each tab). The magnifying-glass-icon next to it opens a window with a complete list of materials covered by the subgroup, 
		and the x-icon on the right allows to delete the subgroup. Note that it is often interesting to <b>change the visualization 
		axes</b> by clicking the "chart context menu" (bottom right of the scatter plot) and then selecting "change parameters".
			</p>
			<p>
		Re-run the algorithm with the same or changed settings to find more results. 
		It is possible to <b>save interesting subgroups</b> from prior runs by dragging them into the results area underneath the scatter-plot/table.
			</p>
		</div>
		<div class="col-md-6 col-lg-4">
			<figure>
				<img src="file.htm?filename=image_help_tutorial_au_result.png"
					width="514" height="306">
				<figcaption><b>Figure 2.</b> Top result subgroup described by N = not divisible by 2, which covers 50% of the gold cluster data (6100 data points) for the target property HOMO-LUMO energy gap. 89% of the standard deviation is reduced in the subgroup compared with the global data,
				i.e., the standard deviation of the target property in the subgroup is 0.0708 eV, whereas the global standard deviation of the target property is 0.6337 eV.</figcaption>
			</figure>
		</div>
	</div>


</div>
