<style type="text/css">
/*!
 * Nomad Beaker Notebook Template
 *
 * @copyright  Copyright 2017 Fritz Haber Institute of the Max Planck Society,
 *             Benjamin Regler - Apache 2.0 License
 * @license    http://www.apache.org/licenses/LICENSE-2.0
 * @author     Benjamin Regler
 * @version    1.0.0
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
p{margin-bottom:1.3em}h1,h2,h3,h4{margin:1.414em 0 .5em;font-weight:inherit;line-height:1.2}h1{margin-top:0;font-size:3.998em}h2{font-size:2.827em}h3{font-size:1.999em}h4{font-size:1.414em}.font_small,small{font-size:.707em}.notebook-container{font-size:16px}.notebook-container .bkr{font-size:100%;font-weight:400;line-height:1.45;color:#333}.nomad--header h2{color:#20335d;font-weight:700;margin:0 0 .2em}.nomad--header h3{color:#20335d;font-weight:700;margin-top:0;text-indent:-1em;padding-left:1em}.nomad--header h3:before{content:"\2014";padding-right:.25em}.nomad--header .nomad--description{margin:-1em 0 0 2em}.atomic-data--block,.nomad--last-updated{display:inline-block;margin-top:1em}.nomad--last-updated{color:grey;float:right;position:relative;z-index:1}.nomad--last-updated::before{bottom:-75%;content:attr(data-version);font-size:4em;font-weight:700;opacity:.2;position:absolute;right:0}.atomic-data label{display:block;font-size:medium;font-weight:700}.atomic-data--select,.chosen-container{width:100%!important}.atomic-data--select:disabled{color:#d3d3d3}.atomic-data--reset-buton{display:inline-block;margin-top:1.6em;width:100%}.modal-dialog{max-width:1000px;width:80%}.modal-header h1{font-size:2em;line-height:1.2}.modal-dialog h2{font-size:1.414em}.modal-dialog h2:first-child{margin-top:0}.modal-dialog h3{font-size:1.2em}.modal-dialog dt{font-size:larger;margin-top:1.414em}.modal-dialog img{width:100%}.modal-dialog .authors{text-transform:uppercase}
</style>


<div class="container col-md-12" id="teaser" style='background-color: rgba(149,170,79, 1.0); background-position:  right center; background-size: 200px; background-repeat: no-repeat;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 50px;
    padding-left: 80px;' >

  <div class="nomad--header">
   <div style="text-align:center">
    <h2> <img id="nomad" src="https://nomad-coe.eu/uploads/nomad/images/NOMAD_Logo2.png" height="100" alt="NOMAD Logo">  NOMAD Analytics Toolkit   
  <img id="nomad" src="https://www.nomad-coe.eu/uploads/nomad/backgrounds/head_big-data_analytics_2.png" height="80" alt="NOMAD Logo"> </h2>
  </div>
    <h3> Discovering simple descriptors for crystal-structure classification</h3>
        <p class="nomad--description">
      created by:
 Mario Boley<sup>1,2</sup>,
 Bryan Goldsmith<sup>1</sup>,
 Ankit Kariryaa<sup>1</sup>,
 Emre Ahmetcik<sup>1</sup>,
 Luca Ghiringhelli<sup>1</sup>
  <br><br>  
        <span class="nomad--last-updated" data-version="v1.0.1">[Last updated: May 10, 2017]</span>
        <br><br> 
    </p>
    <h3>Discovering gold structure-property relationships</h3>
    <p class="nomad--description">
      created by:
 Mario Boley<sup>1,2</sup>,
 Bryan Goldsmith<sup>1</sup>,
 Ankit Kariryaa<sup>1</sup>,
 Luca Ghiringhelli<sup>1</sup>
  <br><br>  
      <sup>1</sup> Fritz Haber Institute of the Max Planck Society, Faradayweg 4-6, D-14195 Berlin, Germany <br>
      <sup>2</sup> Max Planck Institute for Informatics, Saarland Informatics Campus, D-66123 Saarbrücken, Germany <br>
      <span class="nomad--last-updated" data-version="v2.0.1">[Last updated: May 10, 2017]</span>
    </p>
</div>

</div>  

<div style='text-align: right;'>
<a href="https://analytics-toolkit.nomad-coe.eu/home/" class="btn btn-primary" style="font-size:larger;">Back to Analytics Home</a>
<a href="https://www.nomad-coe.eu/" class="btn btn-primary" style="font-size:larger;">Back to NOMAD CoE Home</a>
</div>

	<div class="col-md-12 text-justify">
	<h3>Introduction</h3>
		<p>Subgroup discovery (SGD) is a data mining technique that allows
			for the discovery of structure in data. It reveals subsets in a given
			dataset that have unusual or exceptional properties and characterizes
			such revealed subsets with a natural-language style description.</p>
		<p>
			For example, given a dataset of binary materials that can crystallize
			as either rocksalt or zincblende, SGD may find that the subgroup that
			crystallizes as rocksalt is characterized by the fact that <i>"the
				difference between the radial extension of the s valence orbitals of
				the gas-phase cation and anion is large AND the radial extension of
				the p valence orbital of the gas-phase cation is also large".</i>
		</p>
	</div>
