figcaption {
	display: block;
	color: #2B3856;
	font-style: italic;
}

a {
	color: #294277;
}

a:hover {
	color: #19a5f8;
}

.navbar-inverse {
	border-color: #294277;
	background-color: #294277;
	border-width: 0;
}

.popover-title {
	color: #ccc;
	border-color: #294277;
	background-color: #294277;
	border-width: 0;
}

.navbar-inverse .navbar-nav>li>a {
	color: #ccc;
	text-transform: uppercase;
	text-decoration: none;
}

.navbar-inverse .navbar-nav>li>a:focus {
	color: #ccc;
}

.navbar-inverse .navbar-nav>li>a:hover {
	color: #19a5f8;
}

.btn-success {
	color: #ccc;
	background-color: #294277;
	border-color: #294277;
}

.btn-success:hover {
	color: #19a5f8;
	background-color: #294277;
	border-color: #294277;
}

.btn-primary {
    color: #FFF;
    background-color: #39a9ed;
    border-color: #229feb;
}